{% extends 'index.html' %}

{% block content %}
<div class="content">
    <h1>kitob 2</h1>
    <div class="flex">

    <div class="div">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit non rem, dolorum error odio ut neque fugiat quonem eaque veniam natus earum ipsa in assumenda itaque hic debitis maxime voluptate consectetur ea perferendis at reiciendis quisquam similique modi ex, cumque, distinctio ab? Deserunt fugit hic atque sunt!</p>
    </div>
    </div>
</div>

{% endblock content %}


