.con{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows:auto 1fr auto;
    

}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.content img ,.div{
    width: 300px;
}
h1{
    font-size: 70px;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    margin-top: 14vw;
}
